html {
  scroll-behavior: smooth;
}

.shlop {
  font-family: Shlop;
}

.pointer {
  cursor: pointer;
}

.background-banner {
  background: url("~@/assets/background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  color: #82bf45;
}

.subtitle {
  color: ghostwhite;
}

.text {
  color: #140aad;
}

.card {
  background-color: #1F2937
}

.info {
  text-align: center;
  padding: 5px;
  color: white;
  background-color: #364150;
  font-size: 1.4rem;
  border-radius: 8px;
}

.page-button {
  background: #00d1b2;
}

.nav-button,
.nav-button:hover {
  border: none;
  color: white;
}

.modal {
  display: flex;
  justify-content: center;
  animation: animation_open 1s;
}

@keyframes animation_open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.preview {
  display: flex;
  justify-content: center;

  &-image {
    border-radius: 0.25rem;
  }
}

@media screen and (min-width: 1400px) {
  .background-banner {
    background: url("~@/assets/background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .subtitle {
    color: #17a3ac;
  }
}
