.shlop {
  font-family: Shlop;
}

.pointer {
  cursor: pointer;
}

.background-banner {
  background: url("~@/assets/background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  color: #82bf45;
}

.subtitle {
  color: ghostwhite;
}

.text {
  color: #140aad;
}

.page-button {
  background: #00d1b2;
}

.nav-button,
.nav-button:hover {
  border: none;
  color: white;
}

@media screen and (min-width: 1400px) {
  .background-banner {
    background: url("~@/assets/background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .subtitle {
    color: #17a3ac;
  }
}
